/* ==========================================================================
   Author's custom styles
   Grapheme
   ========================================================================== */

.clear{clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0}
.form-request{text-align: center;margin-bottom: 5px;}
div.wait-request{background-image: url(../images/wait.gif);background-repeat: no-repeat;cursor: wait;min-height: 10px;}